*{
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
    height:20vw;
    width:100vw;
    border:5px #F5F5F5 solid;
}
nav a{
    text-decoration:none;
    color:#D3D3D3;
}
nav a:hover{
    color:white;
}
nav li{
    display:inline;
    margin-right:5px;
    border:1px solid #ACACAC;
    padding:5px 10px;
    cursor:pointer;
}
nav li:hover{
    background-color:#008000ï¼›
    color:white;
}
nav ul{
    position:absolute;
    right:15vw;
    top:6vw;
}
header h1{
    position:absolute;
    left:10vw;
    top:6vw;
    color: white;
}
header em{
    position:absolute;
    left:15vw;
    top:12vw;
    color: white;
}
footer{
    background-color: black;
    color:white;
    height:10vw;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
}
.logo{
    display:flex;
    width:300px;
}








