*{
    padding: 0;
    margin: 0;
}
header{
    backgroud-color: black;
    height:20%;
    width:100%;
    border:5px #F5F5F5 solid;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none: underline;
    color:#D3D3D3
}
header li{
    display:inline;
    margin-rught:4vw;
    border:1px solid #ACACAC;
    padding:5px 10px;
    cursor:pointer;
}
header ul{
    position:absolute;
    right:15%;
    top:6%;
}
h1{
    position:absolute;
    left:10%;
    top:6%;
    background-image:url(江浙学生同盟.jpg);
    background-repeat:no-repeat;
    background-position:absolute;
    left:20%;
    top:6%;
    width:20%;
}
.foot{
    background-color: black;
    color:white;
    height:10%;
    display:flex;
    justify-content:center;
    align-items:center;
   font-size:30px;
}
