*{
    padding: 0;
    margin: 0;
}
header{
    backgroud-color: black;
    height:20vw;
    width:100vw;
    border:5px #F5F5F5 solid;
}
header h3{
    position:absolute;
    left:5vw;
    top:10vw;
}
nav a{
    text-decoration:none;
}
nav a:hover{
    text-decoration:none: underline;
    color:#D3D3D3
}
nav li{
    display:inline;
    margin-rught:4vw;
    border:1px solid #ACACAC;
    padding:5px 10px;
    cursor:pointer;
}
nav ul{
    position:absolute;
    right:15vw;
    top:6vw;
}
header h1{
    position:absolute;
    left:10vw;
    top:6vw;
}
footer{
    background-color: black;
    color:white;
    height:0vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:15px;
}
.logo{
    display:flex;
    width:300px;
}
